* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-main:#FCBCF1;
    --main-text:#ddd;
    --black-total:#000000;
    --border-white:#ffffff;
    --base-pink:#d400ff;
    --soft-pink: #fbbdf1;
    --main-green:#AEC700;
    
}

body{
    background-color: var(--background-main);
}

/* Navbar */

nav{
    background-color: var(--black-total);
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--border-white);
    padding: 0 5px;
    position: sticky;
}

.header-img-container{
    margin: 5px 5px;
}

.options{
    display: flex;
    margin: 15px 15px;
    align-items:center ;
}

.options ul{
    display: inline-flex;
    gap: 20px;
    color: var(--border-white);
}

.options li{
    display: inline-flex;
    justify-content: right;
    border-bottom: 1px solid transparent;
    font-size: 20px;
    position: relative;
}


.options li::before, 
.options li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    border-top-width: 2px;
    border-top-color:var(--base-pink);
}

.options li::before {
    border-top-style: transparent;
    width: 100%;
}
.options li::after {
    border-top-style: solid;
    width: 0;
    transition: all .7s ease;
}

.options li:hover{
    cursor:pointer;
}

.options li:hover::after {
    width: 100%;
    left: 0;

}

.options a{
    text-decoration: none;
    color: var(--border-white);
}


/* Containers */

#main-container{
    display: flex;
    margin-top: 30px;
}

#banner-container,
#form-container{
    flex: 1 1 0;
    width: 50%;
}

#banner-container{
    text-align: right;
}

#banner-container img{
    width: 100%;
    margin-right: 15px;
    margin-top: 25px;
    max-width: 600px;
}

#form-container{
    text-align: center;
}

/* login */

#form-box{
    background-color: black;
    border: 2px solid white;
    width: 650px;
    margin-top: 30px;
}

#logo-corre {
    width: 275px;
    margin: 30px auto 12px;
}

#login-form{
    margin-top: 20px ;
}

#login-form input{
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    background-color: #fafafa;
    border: 1px solid red;
    border-radius: 3px;
    width: 268px;
    margin: 5px auto;
}

#login-form input[type="submit"] {
    background-color: lightblue;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
    font-size: 13px;
    padding: 0px;
    font-weight: bold;
}

/* Separador */

.separator{
    position: relative;
}

.separator span{
    position: absolute;
    text-transform: uppercase;
    color: #bbb;
    background-color: #060505;
    top: -6px;
    width: 50px;
    margin-left: -25px;
    font-size: 15px;
}

.line{
    border-top: 1px solid #DBDBDB;
    width: 268px;
    margin: 35px auto 35px;

}